<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel</title>
    <link rel="stylesheet" href="static/css/styles.css" />
  </head>
  <body>
    <nav>
      <div class="layar-dalam">
        <div class="logo">
          <a href=""><img src="static/images/logo-white.png" class="putih" /></a>
          <a href=""><img src="static/images/logo-black.png" class="hitam" /></a>
        </div>
        <div class="menu">
          <a href="#" class="tombol-menu">
            <span class="garis"></span>
            <span class="garis"></span>
            <span class="garis"></span>
          </a>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#aboutus">About Us</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#harga-paket">Ticket</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="layar-penuh">
      <header id="home">
        <div class="overlay"></div>
        <video autoplay muted loop>
          <source src="static/images/video-indonesia.mp4" type="video/mp4" />
        </video>
        <div class="intro">
          <h3>Visit Indonesia</h3>
        </div>
      </header>
      <main>
        <section id="aboutus">
          <div class="layar-dalam">
            <h3>About Us</h3>
            <p class="ringkasan">
              Wisata Indonesia merujuk pada berbagai kegiatan dan tempat menarik yang dapat dikunjungi di seluruh Indonesia, yang merupakan negara kepulauan dengan lebih dari 17.000 pulau. Indonesia terkenal akan keanekaragaman budaya, alam, dan sejarahnya. Destinasi wisata populer di Indonesia mencakup Bali dengan pantainya yang indah, Yogyakarta dengan warisan budayanya, serta Taman Nasional Komodo yang menjadi rumah bagi komodo, hewan purba yang langka. Selain itu, Indonesia juga memiliki berbagai festival budaya, kuliner yang kaya, dan keindahan alam seperti gunung, danau, serta hutan tropis. Wisata Indonesia menawarkan pengalaman yang unik dan beragam bagi para wisatawan.
            </p>
            <div class="konten-isi">
              <p>
                Berbagai Macam Tempat Wisata
              </p>
            </div>
          </div>
        </section>
        <section class="abuabu" id="support">
          <div class="layar-dalam support">
            <div>
              <img src="static/images/matahari.png" />
              <h6>In Every Condition</h6>
            </div>
            <div>
              <img src="static/images/tas.png" />
              <h6>Professional Team</h6>
            </div>
            <div>
              <img src="static/images/kompas.png" />
              <h6>Expert Hikers</h6>
            </div>
          </div>
        </section>
        <section id="gallery">
          <div><img src="static/images/foto1.jpg" /></div>
          <div><img src="static/images/foto2.jpg" /></div>
          <div><img src="static/images/foto3.jpg" /></div>
          <div><img src="static/images/foto4.jpg" /></div>
          <div><img src="static/images/foto5.jpg" /></div>
          <div><img src="static/images/foto6.jpg" /></div>
          <div><img src="static/images/foto7.jpg" /></div>
          <div><img src="static/images/foto8.jpg" /></div>
        </section>
        <section class="quote">
          <div class="layar-dalam">
            <p>Jogja terbuat dari rindu, pulang dan angkringan.</p>
          </div>
        </section>
        <section id="team">
          <div class="layar-dalam">
            <h3>Our Team</h3>
            <p class="ringkasan">
            Beberapa Kepala Tim
            </p>
            <div class="tim">
              <div>
                <img src="static/images/kucing 2.jpg" />
                <h6>Samsul Hidayat</h6>
                <span>Kediri</span>
              </div>
              <div>
                <img src="static/images/kucing 3.jpg" />
                <h6>Yanto</h6>
                <span>Jombang</span>
              </div>
              <div>
                <img src="static/images/kucing 1.jpg" />
                <h6>Sumbul</h6>
                <span>Ngawi</span>
              </div>
            </div>
          </div>
        </section>
        <section class="abuabu" id="blog">
          <div class="layar-dalam">
            <h3>Lastest Blog</h3>
            <div class="blog">
              <div class="area">
                <div
                  class="gambar"
                  style="background-image: url('static/images/bromo.jpg')"
                ></div>
                <div class="text">
                  <article>
                    <h4><a href="#">Apa Itu Bromo?</a></h4>
                    <p>
                      Gunung Bromo di Jawa Timur Indonesia terkenal dengan pemandangan matahari terbit yang indah. Pengunjung dapat melihat kawah Bromo yang aktif dan menikmati keindahan matahari terbit dari puncak Penanjakan.
                    </p>
                  </article>
                </div>
              </div>
              <div class="area">
                <div
                  class="gambar"
                  style="background-image: url('static/images/jogja.jpg')"
                ></div>
                <div class="text">
                  <article>
                    <h4><a href="#">Apa Itu Yogyakarta?</a></h4>
                    <p>
                      kota Yogyakarta, terletak di pulau Jawa, Indonesia. Kota ini terkenal sebagai pusat pendidikan dan budaya karena banyaknya situs sejarah dan kebudayaan, termasuk Candi Borobudur dan Prambanan, Warisan Dunia UNESCO.
                    </p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <main>
        <section id="harga-paket">
          <h2>Harga Paket Wisata</h2>
          <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                       <th>Nama Paket</th>
                        <th>Harga per Orang</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                        <td>Paket Sunrise Bromo</td>
                        <td>Rp 500,000</td>
                   </tr>
                   <tr>
                        <td>Paket Eksplorasi Kawah</td>
                       <td>Rp 750,000</td>
                   </tr>
                   <tr>
                       <td>Paket Bromo & Savanah</td>
                       <td>Rp 1,000,000</td>
                   </tr>
                </tbody>
           </table>
          </div>
        </section>      
      </main>
      <footer id="contact">
        <div class="container">
          <div id="popupMessage" class="popup">
            <p>TERIMA KASIH</p>
            <button onclick="closePopup()">Tutup</button>
        </div>        
          <h2>Form Tiket</h2>
          <form>
            <label for="name">Nama:</label>
            <input type="text" id="name" name="name" placeholder="Nama Anda">
        
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Akun Email">
        
            <label for="message">Pesan:</label>
            <textarea id="message" name="message" placeholder="Tulis Tujuan Wisata"></textarea>
        
             <button type="submit">Kirim</button>
          </form>
          <div id="responseMessage"></div>
        </div>
        <div class="layar-dalam">
          <div class="copyright">&copy; UNTAG SISTEKIN B</div>
        </div>
      </footer>
    </div>
</div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="static/js/script.js"></script>
  </body>
</html>